
.getInTouch{
    font-size: 3rem;
    color: white;
}
.contactinfo{
    color: white;
    line-height: 2;
}

.rightdiv{
    background-color: #000000;
    text-align: center;
    width: 350px;
    padding: 40px;
    
}
.contactform input,.contactform textarea,.contactform button{
    width: 100%;
    border: none;
    padding: 10px 0px;
    margin-bottom: 10px;
    background-color: rgb(19, 18, 18);
    color: wheat;
}
.contactform input::placeholder{
    padding: 10px;
}
.contactform button{
    background-color: #3E2723;
    padding: 15px;

}
.contactform input:focus,textarea:focus{
   
    outline: none;
}
.map{
    width: 300px;
    height: 280px;
    border: none;
}
.getInTouch span{
    color: #FDD655;
}
.getInTouch{
    position: relative;
    margin-bottom: 20px;
}
.getInTouch::after{
    color: white;
    position: absolute;
    content: "";
    width: 0;
height: 8px;
background-color: #FDD655;
top: 100%;
left: 0%;
transition: all .4s linear;
}
.getInTouch:hover::after{
    width: 38%;

}
.Contact{
    width: 100%;
    background-color: #0F0F0F;
}