.saleMain{
text-align: center;
background-image: linear-gradient(rgba(0, 0, 0, 0.85), rgba(26, 25, 25, 0.85)), url(../../images/about-background.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 50px 0px;
    height: 100vh;
}
.saleMain h1{
    color: white;
    font-weight: 600;
    font-size: 3rem;
    position: relative;
    margin-bottom: 30px;
    margin-top: 100px;
    display: inline-block;
}
.saleMain h1 span{
    color: #FDD655;
}



.saleMain h1::after{
    color: white;
    position: absolute;
    content: "";
    width: 0;
height: 8px;
background-color: #FDD655;
top: 100%;
left: 0%;
transition: all .4s linear;
}
.saleMain h1:hover::after{
    width: 38%;

}
.saleMain .text{
    color: white;
    padding: 0px 100px;
}
.saleMain .timerDiv,.mediaDiv{
    color: white;
    margin: auto;
    margin-top: 50px;
    align-items: center;
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    width: 300px;
    align-items: center;
   
}
.mediaDiv .icon{
font-size: 40px;
color: white;
transition: all .3s linear;
}
.mediaDiv .icon:hover{
    color: #FDD655;
    }
    .timerText{
        color: #FDD655;
    }
    .timerValue{
        font-size: 40px;
    }